<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                               http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>SchedulerServlet</servlet-name>
        <servlet-class>SchedulerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SchedulerServlet</servlet-name>
        <url-pattern>/SchedulerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContentPacksServlet</servlet-name>
        <servlet-class>ContentPacksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContentPacksServlet</servlet-name>
        <url-pattern>/ContentPacksServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/UsersServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WorkersServlet</servlet-name>
        <servlet-class>WorkersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkersServlet</servlet-name>
        <url-pattern>/WorkersServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RolesServlet</servlet-name>
        <servlet-class>RolesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RolesServlet</servlet-name>
        <url-pattern>/RolesServlet</url-pattern>
    </servlet-mapping>

</web-app>